<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.boardMapper">

	<!-- 공지사항 리스트 -->
	<select id="boardList" resultType="NoticeDTO">
		select *
		from board
	</select>
	 
	<!-- 리뷰 리스트 -->
	<select id="reviewList" resultType="ReviewDTO">
		select *
		from review
	</select>
	
	<!-- Q&A 리스트 -->
	<select id="qnaList" resultType="QADTO">
		select *
		from qa
	</select>
	 
	
	<!-- 공지사항 상세 글 조회  -->
	<select id="boardDetail" parameterType="java.lang.Integer" resultType="NoticeDTO">
		select *
		from board
		where board_no = #{board_no}
	</select>
	
	<!-- 공지사항 조회수 1 증가하는 SQL -->
	<update id="boardUpdateReadCnt" parameterType="java.lang.Integer">
		update board
		set board_readcnt = board_readcnt + 1
		where board_no = #{board_no}
	</update>
	
	<!-- 리뷰 상세 글 조회 -->
	<select id="reviewDetail" parameterType="java.lang.Integer" resultType="ReviewDTO">
		select *
		from review
		where review_no = #{review_no}
	</select>
	
	<!-- 리뷰 조회수 1 증가하는 SQL -->
	<update id="reviewUpdateReadCnt" parameterType="java.lang.Integer">
		update review
		set review_readcnt = review_readcnt + 1
		where review_no = #{review_no}
	</update>
	
	<!-- Q&A 상세 글 조회 -->
	<select id="qnaDetail" parameterType="java.lang.Integer" resultType="QADTO">
		select *
		from qa
		where qa_no = #{qa_no}
	</select>
	
	<!-- Q&A 글 작성하는 SQL -->
	<insert id="qnaRegister" parameterType="QADTO">
		insert into qa(qa_no, product_group_id_fk2, user_id, qa_content, qa_secret, qa_date, qa_reply)
		values (#{qa_no}, #{product_group_id_fk2}, #{user_id}, #{qa_content}, false, curdate(), #{qa_reply})		
	</insert>
	
	<!-- Q&A 글 수정하는 SQL -->
	<update id="qnaUpdate" parameterType="QADTO">
		update qa
		set
		qa_content=#{qa_content}, qa_secret=false , qa_date=curdate()
		where qa_no = #{qa_no}
	</update>
	
	<!-- Q&A 글 삭제하는 SQL -->
	<update id="qnaDelete" parameterType="java.lang.Integer">
		delete from qa
		where qa_no = #{qa_no}
	</update>
	

</mapper>
  
  
  
  
  
  
  
  
  