<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.boardMapper">

	<!-- 상품 상세 정보 -->
	<select id="productDetail" resultType="productDTO">
		select *
		from product 
	</select>
	
	<!-- 공지사항 리스트 -->
	<select id="boardList" resultType="NoticeDTO">
		select *
		from board
	</select>
	 
	<!-- 리뷰 리스트 -->
	<select id="reviewList" resultType="ReviewDTO">
		SELECT *
		FROM review r
		LEFT OUTER JOIN product p
		ON (r.product_code = p.product_code)
	</select>
	
	<!-- Q&A 리스트 -->
	<select id="qnaList" resultType="QNADTO">
		select *
		from qna
	</select>
	 
	
	<!-- 공지사항 상세 글 조회  -->
	<select id="boardDetail" parameterType="java.lang.Integer" resultType="NoticeDTO">
		select *
		from board
		where board_no = #{board_no}
	</select>
	
	<!-- 공지사항 조회수 1 증가하는 SQL -->
	<update id="boardUpdateReadCnt" parameterType="java.lang.Integer">
		update board
		set board_readcnt = board_readcnt + 1
		where board_no = #{board_no}
	</update>
	
	<!-- 리뷰 상세 글 조회 -->
	<select id="reviewDetail" parameterType="java.lang.Integer" resultType="ReviewDTO">
		select *
		from review
		where review_no = #{review_no}
	</select>
	
	<!-- 리뷰 조회수 1 증가하는 SQL -->
	<update id="reviewUpdateReadCnt" parameterType="java.lang.Integer">
		update review
		set review_readcnt = review_readcnt + 1
		where review_no = #{review_no}
	</update>
	
	<!-- Q&A 상세 글 조회 -->
	<select id="qnaDetail" parameterType="java.lang.Integer" resultType="QNADTO">
		select *
		from qna
		where qna_no = #{qna_no}
	</select>
	
	<!-- Q&A 글 작성하는 SQL -->
	<insert id="qnaRegister" parameterType="QNADTO">
		insert into qna(qna_no, product_group_id_fk2, user_id, qna_content, qna_secret, qna_date, qna_reply)
		values (#{qna_no}, #{product_group_id_fk2}, #{user_id}, #{qna_content}, false, curdate(), #{qna_reply})		
	</insert>
	
	<!-- Q&A 글 수정하는 SQL -->
	<update id="qnaUpdate" parameterType="QNADTO">
		update qna
		set
		qa_content=#{qna_content}, qna_secret=false , qna_date=curdate()
		where qa_no = #{qna_no}
	</update>
	
	<!-- Q&A 글 삭제하는 SQL -->
	<update id="qnaDelete" parameterType="java.lang.Integer">
		delete from qna
		where qa_no = #{qna_no}
	</update>
	

</mapper>
  
  
  
  
  
  
  
  
  