<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="NoticeDTO" type="kr.co.dong.catdog.NoticeDTO"/>
 		<typeAlias alias="ReviewDTO" type="kr.co.dong.catdog.ReviewDTO"/>
 		<typeAlias alias="QnaDTO" type="kr.co.dong.catdog.QnaDTO"/>
 		<typeAlias alias="FaqDTO" type="kr.co.dong.catdog.FaqDTO"/>
 		<typeAlias alias="ProductDTO" type="kr.co.dong.catdog.ProductDTO"/>
 	</typeAliases>
 </configuration>